* , body{
  margin: 0;
  padding: 0;
}
header{
  max-width: 100%;
  padding: 30px;
  background-color:black;
}
header a{
  color:white;
}
a{
  text-decoration: none;
  transition: .3s;
}


nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px 0 ;
  border-radius: 10px 10px 0 0;
  background-color: black;
}
nav a {
  color:white;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 30px;

}
nav a:hover{
  color: black;
  -webkit-text-stroke: .4px grey;
}
nav ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul li {
  list-style: none;

}
.profile{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.profile_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.profile_info img{
  width: 250px;
  height: 250px;
}
.newPost-side{
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.newPost-side textarea{
  width: 100%;
  resize: none;
}
.newPost-side button{
  margin: 5px 0;
}
.Post-item{
  display: flex;
  margin: 20px 0;
  align-items: center;
}
.Post-item p {
  padding: 0 15px;
}
.Post-item img{
width: 100px;
  height: 100px;
  margin-right: 20px;
}
.Dialogs_page{
  display: grid;
  grid-template-columns: 3fr 9fr;
}
.Dialogs_UserList{
  display: flex;
  justify-content: center;
}
.Dialogs_UserList ul li , .Dialogs_message ul li {
  padding: 20px;
}

.Dialogs_UserList ul li a  {
  color: black;
  text-transform: uppercase;
  font-size: 24px;
}
.Dialogs_UserList ul li p {
  color: black;
  font-size: 24px;
}
.Dialogs_UserList ul li a:hover{
  color:grey;
}
{

}